body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://i.pinimg.com/736x/ac/e5/78/ace578f056318250989f33cd0cdf64a0.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 350px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  select {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
  }
  
  .tarefa {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
  }
  
  .tarefa span {
    flex: 1;
    margin-left: 10px;
  }
  
  .tarefa.concluida span {
    text-decoration: line-through;
    color: #777;
  }
  

